*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rouge Script', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(12,23,85,1) 66%);
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260px;
    background: url(../img/trees.png);
    z-index: 1;
}

.moon{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
    background-color: aliceblue;
    border-radius: 50%;
}

.moon::before{
    content: '';
    position: absolute;
    inset: -200px -300px;
    background: url(../img/santa.png) no-repeat center;
    background-size: 600px;
    animation: fly 5s ease-in-out infinite;
}

@keyframes fly{
    0%, 100%{
        transform: translateY(25px);
    }

    50%{
        transform: translateY(-25px);
    }
}

.moon::after{
    content: 'Merry Christmas';
    position: absolute;
    inset: -80px -200px;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: dimgray;
}

.snow{
    position: relative;
    display: flex;
}

.snow span{
    position: relative;
    min-width: 5px;
    height: 5px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0 1vw;
    box-shadow: -100px 20px 5px aliceblue,
    100px 20px 10px aliceblue;
    animation: Snows 30s linear infinite;
    animation-duration: calc(115s / var(--i));
}

.snow span:nth-child(even){
    min-width: 10px;
    height: 10px;
}

@keyframes Snows{
    0%{
        transform: translateY(-10vh);
    }
    100%{
        transform: translateY(100vh);
    }
}